<!--Camila Sánchez-->
<div class="container d-flex border-bottom" style="padding-bottom: 100px">
  
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVISb4awVmNljwrnjwqfqvhBcYvE9HhbDxqQ&usqp=CAU" class="rounded-circle " style="width: 250px;height: 250px;">
 <div class="d-inline">
   <h1><strong>The Second Heading</strong>  <span style="color: rgb(173, 171, 171);">Is Pretty Cool Too.</span></h1> 
   <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta eum provident assumenda quod nemo saepe itaque nostrum modi. Earum libero quas sit aperiam quod culpa hic incidunt tempore expedita officia!</p>
 </div>

</div>